@import './fonts.css';

/* BASE CONFIG */
* {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}
body {
	font-family: 'Rubik';
    color: #616161;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	background: none;
	border: none;
}
/* BASE CONFIG */
.container {
    max-width: 1152px;
}
.header__container {
    display: flex;
    width: 1152px;
    height: 114px;
}
.header__logo {
    display: inline-block;
    margin: 0;
    padding-top: 49px;
    padding-left: 4px;
}
.header__nav {
    display: inline-block; 
    margin: 0;
    padding-top: 51px; 
    padding-left: 280px;
      
}
.header__menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.header__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: #000000;
}
.header__button {
    display: inline-block;
    margin: 0;
    padding-top: 37px;
    padding-right: 41px;
    padding-left: 160px;
}
.blue__button {
    display: inline-block;
    border-radius: 5px;
    font-family: 'Raleway';
    font-style: normal;
    background: #4285F4;
    width: 130px;
    height: 40px;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: #FCFDFE;
    text-align: center;
    padding-top: 14px;
}
.red__block {
    position: absolute;
    display: flex;
    width: 295px;
    height: 700px;
    background-color: #EC5863;
}
.header__descripton {
    width: 497px;
    height: 156px;
    margin: 0;
    padding-left: 17px;
    padding-top: 151px;
}
h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.description__title {
    width: 375px;
    margin: 0;
    padding-top: 12px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #616161;
}
.orange__button {
    display: inline-block;
    margin: 0;
    background-color: #EC5863;
    width: 144px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: #FCFDFE;
    text-align: center;
    padding-top: 14px;
}
.doc__block {
    display: inline-block;
    margin: 0;
    width: 548px;
    height: 395px;
}
.doc__img {
    display: inline-block;
    padding-left: 500px;
}